@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gl46t');
  src:  url('fonts/icomoon.eot?gl46t#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gl46t') format('truetype'),
    url('fonts/icomoon.woff?gl46t') format('woff'),
    url('fonts/icomoon.svg?gl46t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account-settings:before {
  content: "\e900";
}
.icon-add-icon:before {
  content: "\e901";
}
.icon-apple-pay-icon:before {
  content: "\e902";
}
.icon-basic-plan:before {
  content: "\e903";
}
.icon-close-icon:before {
  content: "\e904";
}
.icon-discount-history-icon:before {
  content: "\e905";
}
.icon-facebook-sketch-icon:before {
  content: "\e906";
}
.icon-google-pay-icon:before {
  content: "\e907";
}
.icon-instagram-icon:before {
  content: "\e908";
}
.icon-instagram-icon-2:before {
  content: "\e909";
}
.icon-linkedin-icon:before {
  content: "\e90a";
}
.icon-login-icon:before {
  content: "\e90b";
}
.icon-logout-icon:before {
  content: "\e90c";
}
.icon-loyalty-history-icon:before {
  content: "\e90d";
}
.icon-luxury-shoe-plan:before {
  content: "\e90e";
}
.icon-mastercard-icon:before {
  content: "\e90f";
}
.icon-my-orders-icon:before {
  content: "\e910";
}
.icon-packages-star-icon:before {
  content: "\e911";
}
.icon-payment-cards-icon:before {
  content: "\e912";
}
.icon-place-new-order-icon:before {
  content: "\e913";
}
.icon-premium-plan:before {
  content: "\e914";
}
.icon-premium-shoe-plan:before {
  content: "\e915";
}
.icon-remove-icon:before {
  content: "\e916";
}
.icon-snapchat-icon:before {
  content: "\e917";
}
.icon-standard-plan:before {
  content: "\e918";
}
.icon-standard-shoe-plan:before {
  content: "\e919";
}
.icon-star-icon:before {
  content: "\e91a";
}
.icon-tiktok-icon:before {
  content: "\e91b";
}
.icon-twitter-icon:before {
  content: "\e91c";
}
.icon-visa-icon:before {
  content: "\e91d";
}
