@media (max-width: 1400px){
    .dashboard-content{
        padding-right: 0!important;
        padding: 2rem!important;
    
    }
}


@media (max-width: 991px){


    .main-navbar{
        .Login-button{
            display: inline-block!important;
            i{
                display: none;
            }
        }
    }


    .main-dashboard{
        flex-direction: column;
        .aside-section{
            width: 100%;
        }
    }

    .footer-inner{
        .row [class^="col-"] {
            &:not(:last-child){
                margin-bottom: 1.5rem;
            }
    
        }
    }
    .copyright-inner{
        flex-direction: column;
        align-items: center;
        .copyright-info{
            margin-bottom: 1rem;
        }
    }

   
}

@media (max-width: 767px){
      // Packages mediaqueries

      .packages-section{
        .package-section-title{
            &::before{
                top: 50%;
                left: 25%;
                transform: translate(-50%,-50%);
                font-size: 7rem;
                rotate: 45deg;

            }
        }
    }
    .shoe-packages-section{
        .package-section-title{
            &::before{
                top: 50%;
                left: 25%;
                transform: translate(-50%,-50%);
                font-size: 7rem;
                rotate: 45deg;

            }
        }
    }
}



@media (max-width: 576px){
    .site-logo{
        width: 120px;
    }

 
}