{% load static %}
<footer class="footer">
    <div class="main-footer">
        <div class="container">
            <div class="footer-inner">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="col-inner">
                            <img class="footer-logo site-logo" src="{% static 'assets/images/main-logo.svg' %}" alt="">
                            <ul class="social-media-icons">
                                <li><a href="#"><i class="icon-facebook-sketch-icon"></i></a></li>
                                <li><a href="#"><i class="icon-twitter-icon"></i></a></li>
                                <li><a href="#"><i class="icon-instagram-icon-2"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin-icon"></i></a></li>
                                <li><a href="#"><i class="icon-tiktok-icon"></i></a></li>
                                <li><a href="#"><i class="icon-snapchat-icon"></i></a></li>
                            </ul><!-- /.social-media-icons -->
                        </div><!-- /.col-inner -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-lg-2 offset-lg-1">
                        <div class="col-inner">
                            <ul class="footer-links">
                                <li><b>About</b></li>
                                <li><a href="#">About Us / Why Slikk?</a></li>
                                <li><a href="#">Help / FAQs</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul><!-- /.footer-links -->
                        </div><!-- /.col-inner -->
                    </div><!-- /.col-md-2 -->
                    <div class="col-lg-2">
                        <div class="col-inner">
                            <ul class="footer-links">
                                <li><b>Other</b></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Blog</a></li>
                            </ul><!-- /.footer-links -->
                        </div><!-- /.col-inner -->
                    </div><!-- /.col-md-2 -->
                    <div class="col-lg-4">
                        <div class="col-inner">
                            <b>Subscribe to our newsletter</b>
                            <div class="subscribe-input">
                                <input type="text" placeholder="enter your email">
                                <button class="subscribe-button theme-button">Subscribe</button>
                            </div><!-- /.subscribe-input -->
                        </div><!-- /.col-inner -->
                    </div><!-- /.col-md-4 -->
                </div><!-- /.row -->
            </div><!-- /.footer-inner -->
        </div><!-- /.container -->
    </div><!-- /.main-footer -->
    <div class="copyright">
        <div class="container">
            <div class="copyright-inner">
                <p class="copyright-info">&copy; 2022 Slikk Limited. All rights reserved.</p>
                <ul class="payment-links">
                    <li><a href=""><i class="icon-mastercard-icon"></i></a></li>
                    <li><a href=""><i class="icon-visa-icon"></i></a></li>
                    <li><a href=""><i class="icon-google-pay-icon"></i></a></li>
                    <li><a href=""><i class="icon-apple-pay-icon"></i></a></li>
                </ul>
            </div><!-- /.copyright-inner -->
        </div><!-- /.container -->
    </div><!-- /.copyright -->
</footer><!-- /.footer -->
</div><!-- /.site-wrapper -->


<script src="{% static 'assets/js/bootstrap.js' %}"></script>
<!-- <script src="assets/js/main.js"></script> -->
</body>

</html>
