{% load static %}
{% include 'header.html' %}

<body>
    <div class="login-form-wrapper">
        <div class="wrapper">
            <form  method="post" action="{% url 'login-user' %}">
                {% csrf_token %}
                <h2 class="login-title">Login</h2>
                <div class="input-field login-field">
                    <input type="username" name="username" id="username" >
                    <label>Username</label>
                </div>
                <div class="input-field login-field">
                    <input type="password" name="password" id="password" >
                    <label>Password</label>
                </div>
                <div class="forget">
                    <a href="#">Forgot password?</a>
                </div>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
                <button type="submit" class="submit-button">Log In</button>
                <a href="{% url 'home' %}">Back to Home</a>
                <div class="register">
                    <p>Don't have an account? <a href="{% url 'sign-up' %}">Register</a></p>
                </div>
            </form>
        </div>
    </div><!-- /.login-form-wrapper -->


{% include 'footer.html' %}