{% load static %}
{% include 'header.html' %}
{% load cart_tag %}
<main class="main-content">
    <div class="container-fluid secondary-background-color mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Orders</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="{% url 'home' %}" class="page-header-link">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Orders</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Cart Start -->
    <div class="container pt-5">
        <div class="clear-order">
            {% if request.session.cart|length == 0 %}
            <a href="{% url 'home' %}" class="theme-button-large">Back To Home</a>
            {% else %}
            <a href="{% url 'cart_clear' %}" class="theme-button-large" >Clear Orders</a>
            {% endif %}
        </div><!-- /.clear-order -->
        <div class="row">       
            <div class="col-lg-8 table-overflow mb-5">
                <div class="order-col-inner" style="height: 100%;">
                    <table class="table table-bordered text-center mb-5">
                        <thead class="text-dark package-order-title">
                            <tr>
                                <th>Packages</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            {% for id,package in request.session.cart.items %}
                            <tr class="package-plan-list">
                                <td class="package_item"><img src="{{package.image}}" alt="" style="width: 40px;">{{package.name}}</td>
                                <td class="package_asset">${{package.price}}</td>
                                <td class="package_asset">
                                    <div class="input-group quantity-input">
                                        <div class="input-group-btn">
                                            {% if package.quantity == 1  %}
                                            <a href="#" class="btn btn-sm btn-primary btn-minus quantity-buttons" style="pointer-events: none;">
                                                <i class="icon-remove-icon" style="line-height: 1.7rem;"></i>
                                            </a>
                                            {% else %}
                                            <a href="{% url 'item_decrement' package.product_id %}" class="btn btn-sm btn-primary btn-minus quantity-buttons">
                                                <i class="icon-remove-icon" style="line-height: 1.7rem;"></i>
                                            </a>
                                            {% endif %}
                                        </div>
                                        <small>{{package.quantity}}</small>
                                        <!-- <input type="text" class="form-control form-control-sm text-center" value="" style="width: 2.2rem!important;"> -->
                                        <div class="input-group-btn">
                                            {% if package.quantity == 9 %}
                                            <a href="#" class="btn btn-sm btn-primary btn-plus quantity-buttons" style="pointer-events: none;">
                                                <i class="icon-add-icon" style="line-height: 1.7rem;"></i>
                                            </a>
                                            {% else %}
                                            <a href="{% url 'item_increment' package.product_id %}" class="btn btn-sm btn-primary btn-plus quantity-buttons">
                                                <i class="icon-add-icon" style="line-height: 1.7rem;"></i>
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle">${{package.price|multiply:package.quantity|floatformat:2}}</td>
                                <td class="align-middle">
                                    <a href="{% url 'item_clear' id %}" class="btn btn-sm btn-primary cancel-order"><i class="icon-close-icon"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.order-col-inner -->
            </div>
            <div class="col-lg-4 mb-5">
                <div class="order-col-inner" style="height: 100%;">
                                                <!-- <form class="mb-5" action="">
                        <div class="input-group input-group-orders">
                            <input type="text" class="form-control-orders  p-4" placeholder="Coupon Code">
                            <div class="input-group-append">
                                <button class="btn btn-primary">Apply Coupon</button>
                            </div>
                        </div>
                    </form> -->
                    <div class="card border-secondary mb-5" >
                        <div class="card-header bg-secondary  border-0" style="background-color: black!important; color: white;">
                            <h4 class="font-weight-semi-bold m-0">Orders Summary</h4>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between mb-3 pt-1">
                                <h6 class="font-weight-medium">Subtotal</h6>
                                <h6 class="font-weight-medium">$11.95</h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">GST</h6>
                                <h6 class="font-weight-medium">$3.00</h6>
                            </div>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <div class="d-flex justify-content-between mt-2">
                                <h5 class="font-weight-bold">Total</h5>
                                <h5 class="font-weight-bold">$21.95</h5>
                            </div>
                            {% if request.session.cart|length == 0 %}
                            <a href="#" class="btn btn-block my-3 py-3 disabled-link">Proceed To Checkout</a>
                            {% else %}
                            <a href="{% url 'checkout' %}" class="btn btn-block my-3 py-3 orders-page-button">Proceed To Checkout</a>
                            {% endif %}
                        </div>
                    </div>
                </div><!-- /.order-col-inner -->
            </div>
        </div>
        </div>
        
        </main><!-- /.main-content -->
        
{% include 'footer.html' %}
