{% load static %}
{% include 'header.html' %}
<body>
    <div class="login-form-wrapper">
        <div class="wrapper">
            <form  method="post" action="{% url 'Create_account' %}">
                {% csrf_token %}
                <h2 class="login-title">Sign Up</h2>
                <div class="input-field login-field">
                    <input type="username" name="username" id="username" required>
                    <label>Full Name</label>
                </div>
                <div class="input-field login-field">
                    <input type="email" name="email" id="email" required>
                    <label>Email</label>
                </div>
                <div class="input-field login-field">
                    <input type="password" name="password" id="password" required>
                    <label>Password</label>
                </div>
                <button type="submit" class="submit-button">Create Account</button>
                <a href="{% url 'home' %}">Back to Home</a>
                <div class="register">
                    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
                </div>
            </form>
        </div>
    </div><!-- /.login-form-wrapper -->


{% include 'footer.html' %}